<%- include("partials/header.ejs") %>

  <h1>About me</h1>
  <img class="profile" src="https://picsum.photos/200/200" alt="cat profile">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium quae vitae consequatur placeat ratione atque
    dignissimos nobis ex illum ullam totam tempore eos provident, numquam maxime magni sed corrupti expedita. Lorem
    ipsum,
    dolor sit amet consectetur adipisicing elit. Ab accusamus eius exercitationem minima in quibusdam cum deleniti illum
    praesentium, cupiditate, repellendus hic, velit sint excepturi corrupti enim animi mollitia vero? Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Laboriosam inventore nesciunt nulla natus. Tempora assumenda maiores et
    aperiam iusto enim facere saepe amet deleniti, pariatur, quia modi reprehenderit ipsum quo?
  </p>

  <%- include("partials/footer.ejs") %>