<!-- Header -->
<%- include("partials/header.ejs") %>

  <section class="index__section">
    <div class="index__container">

      <ul>
        <li>

        </li>
      </ul>

    </div>
  </section>


  <!-- Footer -->
  <%- include("partials/footer.ejs") %>