<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data passing</title>
</head>

<body>

  <% if (locals.calculate) { %>
    <h3>There are <%= calculate %> letters in your fName and lName</h3>
    <% } else { %>
      <h3>Enter your name</h3>
      <% } %>

        <form action="/submit" method="POST">
          <input type="text" name="fName" placeholder="First name">
          <input type="text" name="lName" placeholder="Last name">
          <input type="submit" value="OK">
        </form>

</body>

</html>